<div>
  <div class="owlcarousel2-item-image" data-hash="{{ elements.item_id }}">
    <div class="owlcarousel2-carousel-navigation-wrapper">
      <div>{{ elements.image }}</div>
      <div class="owlcarousel2-carousel-navigation">
        {{ elements.label }}
      </div>
      <div class="owlcarousel2-carousel-navigation-overlay"></div>
    </div>
  </div>
</div>